@tailwind base;
@tailwind components;
@tailwind utilities;

#movieDetail {
    display: none;
    opacity: 0;
    transition: opacity 0.3s linear; 
}

#movieDetail.show {
    display: block;
    opacity: 1;
}